{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the home page</h1>
            <p>This is some text</p>

            <p>
           
            {{if ne (index .StringMap "remote_ip") ""}}
                Your remote IP Addres is {{index .StringMap "remote_ip"}}
                {{else}}
                I dont
                {{end}}
            </p>
        </div>
    </div>
</div>
{{end}}